.visa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-inline: auto;
  margin-top: 10rem;
}

.south-btn,
.global-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 200px;
  background-color: gray;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.south-btn {
  background-image: url('../images/south-bg.jpg');
  background-size: cover;
  background-position: center;
}

.global-btn {
  background-image: url('../images/global-bg.jpg');
  background-size: cover;
  background-position: center;
}
  
.south-btn h2,
.global-btn h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ebebeb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 42, 51, 0.7);
  height: 100%;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Home About */

.home-about {
  padding: 15rem 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  background: #eff1f3;
}

.about-intro {
  width: 55%;
}

.about-intro h2 {
  font-size: 28px;
  color: #7c7d7e;
  font-weight: 600;
}

.about-intro h2 span {
  font-size: 42px;
  color: #1e2e3d;
  font-weight: 900;
}

.about-intro p {
  margin-block: 30px;
  padding-block: 15px;
  padding-left: 25px;
  border-left: 0.75px solid #808991;
  font-size: 16px;
  color: #525a61;
  font-family: 'Poppins', sans-serif;
}

.home-about-imgs {
  width: 39%;
  padding-left: 20px 
}

.water-one {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 380px;
  object-fit: cover;
}

.water-two {
  position: absolute;
  width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 10;
  margin-left: -500px;
  margin-top: 280px;
  box-shadow: 0 0 25px rgb(11, 42, 51);
}

/* Countries */
.home-countries {
  padding: 120px 18%;
}

.home-countries h2 {
  color: #5e666c;
  font-size: 36px;
  font-weight: 900;
}

.countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-block: 35px;
}

.country {
  border-radius: 20px;
  text-align: center;
  background-color: #f9f9f9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
}

.country:hover {
  box-shadow: 0 0 15px rgb(11, 42, 51);
  background-position: center bottom;
}

.country div {
  width: 100%;
  height: 100%;
  background-color: rgba(11, 42, 51, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.country span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  color: #ebebeb;
  margin-bottom: 15px;
}

.country-btn {
  padding: 10px 20px;
  border: none;
  background-color: rgba(240, 243, 246, 0.3);
  color: rgb(29, 45, 61);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  font-weight: 600;
  font-size: 16px;
}

.country-btn:hover {
  background-color: #2980b9;
}

/* For tablets: 2 columns */
@media (min-width: 768px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}

/* For desktops: 3 columns */
@media (min-width: 1024px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.country.uk {
  background-image: url('../images/uk.jpg');
}

.country.usa {
  background-image: url('../images/USA.jpg');
}

.country.nz {
  background-image: url('../images/NZ.jpg');
}

.country.fran {
  background-image: url('../images/france.jpg');
}

.country.can {
  background-image: url('../images/Canada.jpg');
}

.country.aust {
  background-image: url('../images/Australia.jpg');
}
