.perm-residance-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }
  
  .category-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.4s ease;
    cursor: pointer;
    position: relative;
  }
  
  .category-card .icon-wrapper {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  
  .category-card img {
    width: 100%;
    height: 100%;
  }
  
  .category-card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .category-card .description {
    margin-top: 10px;
    display: none;
    transform: rotateY(180deg);
  }
  
  .category-card.active .description,  /* Show description when card is active */
  .category-card:hover .description {  /* Show on hover for desktop */
    display: block;
  }
  
  .category-card:hover {
    transform: rotateY(180deg); /* Rotate on hover */
  }
  
  @media (hover: none) {
    .category-card:hover .description {
      display: none;
    }
  }
  